<!DOCTYPE html>
<html lang="en">
  <head>
      {{>headLinks}}
  </head>
  <body>
    <!-- Navbar -->
 {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="'row">
                <div class="col-md-10 col-12 mx-auto">
                        <div class="row">
                            <!-- left side div -->
                            <div class="col-md-6 col-12 main_header_l align-items-center">
                               <figure class="errr">
                                <img src="images/404er.png" alt="Go back" class="img-fluid" title="Go back">
                               </figure>
                            </div>
                            <!-- right side div -->
                          
                               
                                

                               
                          
                        </div>
                </div>
        </div>

    </div>
    <!-- foooter -->
   {{>footer}}
  </body>
</html>
