<!DOCTYPE html>
<html lang="en">
  <head>
      {{>headLinks}}
  </head>
  <body>
    <!-- Navbar -->
 {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="'row">
                <div class="col-md-10 col-12 mx-auto">
                        <div class="row">
                            <!-- left side div -->
                            <div class="col-md-6 col-12 main_header_lefty">
                               <figure>
                                <img src="images/profi.png" alt="vipul" class="img-fluid" title="vipul">
                               </figure>
                            </div>
                            <!-- right side div -->
                            <div class="col-md-6 col-12 main_header_righty">
                               
                                    <p>Hey,I am a Mohan </p>
                                <h1>I am a  <span class="text_span"> web developer </span>,  who built this app</h1>
                               
                            </div>
                        </div>
                </div>
        </div>

    </div>
    <!-- foooter -->
   {{>footer}}
  </body>
</html>
